<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/mainpage.css}"/>
    <link rel="stylesheet" th:href="@{/css/google.css}"/>
    <link rel="stylesheet" th:href="@{/css/institutionregister.css}"/>
    <title>用户首页</title>
</head>
<body>
    <nav>
        <ul>
            <li class="sub-menu-parent active" tab-index="0">
             <a href="./MainPage">课程信息</a>
                <ul class="sub-menu">
                    <li><a id="on" href="#">正在进行</a></li>
                    <li><a id="noBegin" href="#">尚未开始</a></li>
                    <li><a id="finished" href="#">已经结束</a></li>
                </ul>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a id="userInfo" href="#">个人中心</a>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a id="orderManager">订单管理</a>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a id="search" href="#">搜索课程</a>
            </li>
        </ul>
    </nav>
    <div class="wrap">
        <div class="search">
            <input id="inputCourse" type="text" class="searchTerm" placeholder="查找课程"/>
            <button id="searchCourse" type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="user-details register-form">
        <h2>填写订单信息</h2>
        <div>
             <select id="orderClass">
                <option value="不选班">不选班</option>
                <option value="选班">选班</option>
            </select>
            <div id="course">

            </div>
        </div>
        <div>
            <input type="number" id="num" placeholder="人数" required="required"/>
        </div>
        <div>
            <label>订单总价：  <label id="total"></label></label>
        </div>
        <div id="commit" class="button">提交订单</div>
        <div id="back" class="button">返回课程</div>
    </div>

    <div class="finish-step register-form">
        <h2>班级信息</h2>
        <div>
            <label>班级名称：  </label><label id="name"></label>
        </div>
        <div>
            <label>任课教师：  </label><label id="teacher"></label>
        </div>
        <div>
            <label>剩余名额：  </label><label id="lastNum"></label>
        </div>
        <div class="button secondPrev">返回</div>
    </div>

    <table>
        <thead>
        <tr>
            <th>课程名称</th>
            <th>发布机构</th>
            <th>课程描述</th>
            <th>课程分类</th>
            <th>招生人数</th>
            <th>剩余名额</th>
            <th>课程开始时间</th>
            <th>课程结束时间</th>
            <th>课程状态</th>
            <th>学习时间</th>
            <th>预订课程</th>
        </tr>
        </thead>
        <tbody id="table">

        <tr th:each="course : ${courseList.courses}">
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.institute}"></td>
            <td th:text="${course.courseDescription}"></td>
            <td th:text="${course.courseClass}"></td>
            <td th:text="${course.needNum}"></td>
            <td th:text="${course.lastNum}"></td>
            <td th:text="${course.beginDate}"></td>
            <td th:text="${course.endDate}"></td>
            <td th:text="${course.courseState}"></td>
            <td th:text="${course.learntime}"></td>
            <td><button>预订课程</button></td>
        </tr>
        </tbody>
    </table>
</body>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/mainpage.js}"></script>
<script th:src="@{/js/cookie.js}"></script>
</html>