<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/mainpage.css}"/>
    <link rel="stylesheet" th:href="@{/css/google.css}"/>
    <link rel="stylesheet" th:href="@{/css/institutionregister.css}"/>
    <title>机构支付结算策略设定</title>
</head>
<body>
<nav>
    <ul>
        <li class="sub-menu-parent active" tab-index="0">
            <a href="./ManagerMainPage">机构信息</a>
        </li>
        <li class="sub-menu-parent" tab-index="0">
            <a href="./PayInstitution">设置支付结算</a>
        </li>
        <li class="sub-menu-parent" tab-index="0">
            <a href="./DataAnalysis">数据统计</a>
        </li>
        <li class="sub-menu-parent" tab-index="0">
            <a id="search" href="#">搜索机构</a>
        </li>
    </ul>
</nav>
<table>
    <thead>
    <tr id="tr">
        <th>输入支付机构占订单金额的百分比</th>
    </tr>
    </thead>
    <tbody id="table">
    <tr>
        <td><input id = "pay" type="text" required="required"/></td>
    </tr>
    </tbody>
</table>
<div id="save" class="button">保存</div>
</body>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/payinstitution.js}"></script>
</html>