<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/google.css}"/>
    <link rel="stylesheet" th:href="@{/css/planrelease.css}"/>
    <link rel="stylesheet" th:href="@{/css/institutionregister.css}"/>
    <link rel="stylesheet" th:href="@{/css/mainpage.css}"/>
    <title>发布计划</title>
</head>
<body>
    <nav>
        <ul>
            <li class="sub-menu-parent active" tab-index="0">
                <a id="courses">机构课程</a>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a id="planRelease">发布课程计划</a>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a id="logManager">听课登记</a>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a id="institutionInfo">机构信息</a>
            </li>
        </ul>
    </nav>
    <div class="step-bar">
        <ul>
            <li>
                <div class="number active">1</div>
                <div class="text">课程信息</div>
            </li>
            <li>
                <div class="number">2</div>
                <div class="text">班级信息</div>
                <div class="line"></div>
            </li>
            <li>
                <div class="number">3</div>
                <div class="text">课程简单描述</div>
                <div class="line"></div>
            </li>
        </ul>
    </div>
    <h1>课程发布（所有项都为必填项）</h1>
    <form>
        <div class="account-setup register-form">
            <h2>第一步</h2>
            <input id="courseName" type="text" placeholder="课程名称" required="required"/>
            <input id="beginDate" type="date" placeholder="开始时间" required="required"/>
            <input id="endDate" type="date" placeholder="结束时间" required="required"/>
            <input id="learnTime" type="text" placeholder="上课时间（课时/周)" required="required" />
            <input id="courseClass" type="text" placeholder="课程分类" required="required"/>
            <div class="button firstNext">下一步</div>
        </div>
        <div class="user-details register-form">
            <h2>第二步</h2>
            <input id="needNum" type="text" placeholder="计划人数" required="required"/>
            <input id="classNum" type="text" placeholder="班级数" required="required"/>
            <div id="classInfo">

            </div>
            <div class="button firstPrev">上一步</div>
            <div class="button secondNext">下一步</div>
        </div>
        <div class="finish-step register-form">
            <h2>第三步</h2>
            <textarea id="description" rows="12" cols="30" placeholder="课程描述"></textarea>
            <div class="button secondPrev">返回</div>
            <div class="button" id="finish">完成发布</div>
        </div>
    </form>

</body>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/planrelease.js}"></script>
<script th:src="@{/js/cookie.js}"></script>
</html>